<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mioms</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:config/application-config-*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 指定lo4g2地址，如果配置文件未放置在默认位置 -->
  <context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>classpath:log/log4j2.xml</param-value>
	</context-param> 
	<!--指定log4地址 <listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/config/log4j/log4j.xml</param-value>
	</context-param>-->
	<!-- 	指定logback地址<context-param>  
	    <param-name>logbackConfigLocation</param-name>  
	    <param-value>/WEB-INF/config/log4j/logback.xml</param-value>  
	</context-param>  

	<listener>  
	         <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>  
	</listener>   -->	
	
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:mvc-config.xml,classpath*:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!--  
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>
            org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
   </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
      <filter>
        <filter-name>securityServletFilter</filter-name>
        <filter-class>
            com.mioms.core.filter.SecurityServletFilter
        </filter-class>
   </filter>
    <filter-mapping>
        <filter-name>securityServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>
	    org.springframework.web.filter.CharacterEncodingFilter
	   </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/views/home.jsp</welcome-file>
  </welcome-file-list>
  

</web-app>